<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/535b454e-14b6-401b-bd93-313cf8770455/resourceGroups/MyWebDemo/providers/Microsoft.Web/sites/MyWebDemo</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://mywebdemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>mywebdemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyWebDemo</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MyWebDemo</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>